.mainContainer {
  position: absolute;
  top: calc(var(--navbar-total-height) - 1px);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: var(--spacing-2xs);
  box-shadow: var(--shadow-primary);

  .sectionsContainer {
    text-align: center;

    li {
      padding: var(--spacing-2xs) 0;
      color: var(--color-primary-dark-1);
    }
  }
}
