.mainContainer {
  position: fixed;
  bottom: 12px;
  right: 19px;
  width: 1.5vw;
  height: 1.5vw;
  z-index: 100;
  opacity: 0;
  transition: all 0.3s;
  background-color: transparent;
  filter: drop-shadow(var(--shadow-primary));
  pointer-events: none;

  &.visible {
    opacity: 0.3;
    pointer-events: all;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.07);
  }

  &:active {
    transform: translateY(3px) scale(1.07);
  }
}
