.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-2xs);
  gap: var(--spacing-xs);
  text-align: center;

  img {
    height: var(--services-icons-size);
    width: var(--services-icons-size);
  }

  :nth-child(2) {
    height: var(--spacing-xl);
    font-family: var(--font-demibold);
  }
}
