.mainContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  background-color: var(--color-primary-bright-4);
  padding: var(--spacing-4xl) var(--spacing-6xl);
  box-shadow: var(--shadow-primary);
  border-radius: 10px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;

  img {
    height: var(--services-icons-size);
    width: var(--services-icons-size);
    align-self: center;
  }

  .title {
    height: var(--spacing-xl);
    font-family: var(--font-bold);
    color: var(--color-primary-dark-2);
  }

  .bodyText,
  .title {
    padding-left: 10%;
  }
}
