@use '../../../styles/mixins.scss';

.mainContainer {
  .sectionTitle {
    @include mixins.sectionTitle;
    @include mixins.sectionTitleLeft;
  }

  .sectionBodyContainer {
    @include mixins.sectionBody;
    padding-top: 3rem;

    .portfolioLinkContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-xl);
      padding-bottom: var(--spacing-9xl);

      .portfolioText {
        a {
          color: var(--color-primary-dark-1);
          text-underline-offset: 10%;
        }
      }
    }

    .carrouselContainer {
      .carrouselItemContainer {
        display: flex !important;
        justify-content: center;
        align-items: center;

        .carrouselItemImage {
          height: 20vw;
          width: 15vw;
        }
      }
    }
  }
}
