@use '../../../styles/mixins.scss';

.mainContainer {
  .sectionTitle {
    @include mixins.sectionTitle;
  }

  .sectionBodyContainer {
    @include mixins.sectionBody;

    .portfolioLinkContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-xl);
      padding-bottom: var(--spacing-xl);
    }

    .carrouselContainer {
      padding: 0 var(--spacing-m);

      .carrouselItemContainer {
        margin: 0 var(--spacing-6xs);

        .carrouselItemImage {
          height: 14rem;
          width: 10rem;
        }
      }
    }
  }
}
