@font-face {
  font-family: visbyr;
  src: url(../assets/fonts/VisbyRoundCF-Regular.otf);
}
@font-face {
  font-family: visbyr-light;
  src: url(../assets/fonts/VisbyRoundCF-Light.otf);
}
@font-face {
  font-family: visbyr-medium;
  src: url(../assets/fonts/VisbyRoundCF-Medium.otf);
}
@font-face {
  font-family: visbyr-bold;
  src: url(../assets/fonts/VisbyRoundCF-Bold.otf);
}
@font-face {
  font-family: visbyr-demibold;
  src: url(../assets/fonts/VisbyRoundCF-DemiBold.otf);
}
@font-face {
  font-family: visbyr-heavy;
  src: url(../assets/fonts/VisbyRoundCF-Heavy.otf);
}

:root {
  // Font families
  --font-main: visbyr-medium;
  --font-demibold: visbyr-demibold;
  --font-bold: visbyr-bold;
  --font-light: visbyr-light;

  // Font sizing
  --font-size-xs: 0.5rem;
  --font-size-s: 0.75rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 3.25rem;

  // Sizing
  --icon-size: 1.5rem;
  --services-icons-size: 5rem;

  --section-body-padding: var(--spacing-8xl) 0;

  --navbar-height: 3.5rem;
  --navbar-padding-vertical: 1rem;

  // Spacing
  --spacing-7xs: 0.125rem;
  --spacing-6xs: 0.25rem;
  --spacing-5xs: 0.5rem;
  --spacing-4xs: 0.75rem;
  --spacing-3xs: 1rem;
  --spacing-2xs: 1.25rem;
  --spacing-xs: 1.5rem;
  --spacing-s: 1.75rem;
  --spacing-m: 2rem;
  --spacing-l: 2.25rem;
  --spacing-xl: 2.5rem;
  --spacing-2xl: 2.75rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 3.25rem;
  --spacing-5xl: 3.5rem;
  --spacing-6xl: 3.75rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 4.25rem;

  // Colors
  --color-primary: #7ec6bf;
  --color-secondary: #4b3e91;

  // Shadows
  --shadow-primary: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: rgb(248, 248, 248);
}
