@mixin sectionTitle {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-primary);
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-light);
}
