@use '../../../styles/mixins.scss';

.mainContainer {
  display: flex;
  flex-direction: column;

  .sectionTitle {
    position: relative;
    @include mixins.sectionTitle;
    @include mixins.sectionTitleRight;
  }

  .sectionBodyContainer {
    @include mixins.sectionBody;
    display: flex;
    overflow: hidden;
  }
}
