@use '../../../styles/mixins.scss';

.mainContainer {
  .sectionTitle {
    position: relative;
    @include mixins.sectionTitle;
    margin-top: 6rem;
  }

  .sectionBodyContainer {
    @include mixins.sectionBody;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: var(--spacing-9xl);
  }
}

@media (max-width: 1240px) {
  .mainContainer {
    .sectionBodyContainer {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 768px) {
  .mainContainer {
    .sectionBodyContainer {
      padding-left: 80px;
      padding-right: 80px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

@media (max-width: 480px) {
  .mainContainer {
    .sectionBodyContainer {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
