.mainContainer {
  display: flex;
  gap: var(--spacing-4xs);

  div {
    text-align: center;
    padding: calc(var(--spacing-6xs) + 3px);
    padding-right: var(--spacing-6xs);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  .selectedLocale {
    border: 2px solid var(--color-primary-dark-1);
  }
}

@media (max-width: 768px) {
  .mainContainer {
    position: relative;
    padding: 15px;
  }
}
