@use '../../styles/mixins';

.mainContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  padding: var(--navbar-padding-vertical) 3rem;
  background-color: white;
  box-shadow: var(--shadow-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .logoContainer {
    .logo {
      width: 56px;
      fill: var(--color-primary);
      cursor: pointer;
    }
  }

  .sectionsContainer {
    display: flex;
    gap: var(--spacing-2xs);

    div {
      color: var(--color-primary-dark-1);
      cursor: pointer;

      &::after {
        display: block;
        border-bottom: solid 1px var(--color-primary-dark-1);
        content: '';
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
    }

    .currentSection::after {
      transform: scaleX(1);
    }
  }

  .dropdownIconContainer {
    display: none;
    width: 33px;
    height: 33px;

    svg {
      width: 100%;
      height: 100%;
      color: var(--color-primary-dark-1);
      stroke: var(--color-primary-dark-1);
      stroke-width: 0.3px;
    }
  }
}

@media (max-width: 864px) {
  .mainContainer {
    justify-content: space-between;

    .logoContainer {
      position: relative;
      padding: unset;
    }

    .sectionsContainer {
      display: none;
    }

    .dropdownIconContainer {
      display: initial;
    }
  }
}
