@use '../../styles/mixins';

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--navbar-height);
  padding: var(--navbar-padding-vertical) 5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .contactInfoContainer {
    position: absolute;
    left: 0;
    padding: inherit;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5xs);

    .contactInfo {
      display: flex;
      align-items: center;
      gap: var(--spacing-5xs);
    }
  }

  .sectionsContainer {
    display: flex;
    gap: var(--spacing-2xs);

    span {
      color: var(--color-primary);
      cursor: pointer;
    }
  }

  .localePickerContainer {
    position: absolute;
    padding: inherit;
    right: inherit;
    display: flex;
    gap: var(--spacing-4xs);
    span {
      cursor: pointer;
    }
  }
}
