@import '../../styles/mixins.scss';

.mainContainer {
  .topSection {
    position: relative;
    display: flex;
    background-color: var(--color-primary-bright-3);
    padding: var(--spacing-3xl) 0;

    .linksContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      gap: var(--spacing-l);
      font-size: var(--font-size-xl);
      font-family: var(--font-light);
      color: var(--color-primary-dark-2);

      .iconsContainer {
        display: flex;
        align-items: center;
        gap: var(--spacing-2xs);

        svg {
          box-shadow: var(--shadow-primary);
        }
      }
    }

    .logoContainer {
      display: flex;
      justify-content: center;
      width: 50%;
      .logo {
        width: 15rem;
        height: 15rem;
        justify-self: center;
        fill: var(--color-primary);
        filter: drop-shadow(var(--shadow-primary));
      }
    }

    @include cutOutTop(calc(50% - 6rem), 19rem);
  }

  .bottomSection {
    display: flex;
    font-size: var(--font-size-s);
    padding: var(--spacing-l) var(--spacing-10xl);
    background-color: var(--color-primary-dark-3);
    color: var(--color-text-gray-darker);

    .contactInfoContainer {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2xs);
      width: 50%;

      .contactInfo {
        display: flex;
        align-items: center;
        gap: var(--spacing-4xs);
      }
    }

    .footnotesContainer {
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 50%;
      gap: var(--spacing-6xs);
    }
  }
}
