@use '../../../styles/mixins.scss';

.mainContainer {
  .sectionTitle {
    @include mixins.sectionTitle;
  }

  .sectionBodyContainer {
    @include mixins.sectionBody;
    display: flex;
    flex-direction: row;
    // align-items: center;

    .linkSectionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18rem;

      .portrait {
        height: 18rem;
        width: 18rem;
      }

      .nameText {
        padding: var(--spacing-3xs) 0 var(--spacing-7xs);
        font-family: var(--font-bold);
      }

      .languagesText {
        font-family: var(--font-demibold);
        font-size: var(--font-size-s);
      }

      .linkRow {
        padding: var(--spacing-3xs) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
      }

      .atraeLogo {
        height: 4rem;
        width: 9rem;
      }
    }

    .textSectionContainer {
      padding: 0 var(--spacing-10xl);
      white-space: pre-line;
    }
  }
}
