@use '../../../styles/mixins.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  .sectionTitle {
    @include mixins.sectionTitle;
    @include mixins.sectionTitleRight;
  }

  .sectionBodyContainer {
    @include mixins.sectionBody;
    display: flex;
    flex-direction: row;

    .linkSectionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 20rem;

      .portrait {
        height: 20rem;
        width: 20rem;
        border-radius: 10px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        box-shadow: var(--shadow-primary);
      }

      .linkRow {
        padding: var(--spacing-3xs) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
      }

      .atraeLogo {
        height: 4rem;
        width: 9rem;
      }
    }

    .textSectionContainer {
      padding: 0 var(--spacing-10xl);
      white-space: pre-line;
      text-align: justify;

      b {
        font-family: var(--font-bold);
      }
    }
  }
}
